albumentations==1.1.0
einops==0.3.2
loguru==0.6.0
matplotlib==3.3.4
mmcv==1.5.0
mmcv_full==1.4.8
numpy==1.19.2
opencv_python==4.5.5.64
pandas==1.2.4
Pillow==9.1.0
PyYAML==6.0
scikit_image==0.18.1
scikit_learn==1.0.2
segmentation_models_pytorch==0.3.0.dev0
setuptools==58.5.3
skimage==0.0
tabulate==0.8.9
thop==0.0.31-2005241907
timm==0.4.12
torch==1.7.1
torchinfo==1.6.5
torchvision==0.8.2
tqdm==4.59.0
